[submodule "themes/hugo-creative-theme"]
	path = themes/hugo-creative-theme
	url = https://github.com/digitalcraftsman/hugo-creative-theme
[submodule "public"]
	path = public
	url = https://github.com/lschachter/lschachter.github.io.git
	branch = master
