<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ if or .Site.Params.navigation.links.community .Site.Params.navigation.links.portfolio .Site.Params.navigation.links.about .Site.Params.navigation.links.projects .Site.Params.navigation.links.joys }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.hero }}
            {{ partial "hero.html" . }}
        {{ end }}

        {{ if .Site.Params.header.community }}
            {{ partial "section_header.html" .Site.Params.header.community }}
        {{ end }}

        {{ if .Site.Params.community.list }}
            {{ partial "community.html" . }}
        {{ end }}

        {{ if .Site.Params.header.projects }}
            {{ partial "section_header.html" .Site.Params.header.projects }}
        {{ end }}

        {{ if .Site.Data.projects }}
            {{ $range_set := .Site.Data.projects }}
            {{ $ref_id := "projects" }}
            {{ partial "portfolio.html" (dict "context" . "range_set" $range_set "ref_id" $ref_id) }}
        {{ end }}

        {{ if .Site.Params.header.joys }}
            {{ partial "section_header.html" .Site.Params.header.joys }}
        {{ end }}

        {{ if .Site.Params.joys.list }}
            {{ partial "joys.html" . }}
        {{ end }}

        {{ if .Site.Params.header.problems }}
            {{ partial "section_header.html" .Site.Params.header.problems }}
        {{ end }}

        {{ if .Site.Data.problems }}
            {{ $range_set := .Site.Data.problems }}
            {{ $ref_id := "problems" }}
            {{ partial "portfolio.html" (dict "context" . "range_set" $range_set "ref_id" $ref_id) }}
        {{ end }}

        {{ if .Site.Params.header.about }}
            {{ partial "section_header.html" .Site.Params.header.about }}
        {{ end }}

        {{ if .Site.Params.about }}
            {{ partial "about.html" . }}
        {{ end }}

        

        {{ if .Site.Data.problems }}
            {{ $range_set := .Site.Data.problems }}
            {{ partial "modals.html" (dict "context" . "range_set" $range_set) }}
        {{ end }}

        {{ if .Site.Data.projects }}
            {{ $range_set := .Site.Data.projects }}
            {{ partial "modals.html" (dict "context" . "range_set" $range_set) }}
        {{ end }}

        {{ partial "js.html" . }}

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>
