{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="float-center">
                    {{ with .Site.Params.contact.headline }}
                        <h2 class="section-heading">{{ . }}</h2>
                    {{ end }}
                    {{ if and .Site.Params.contact.headline .Site.Params.contact.description }}
                        <hr class="primary">
                    {{ end }}
                    <img src="{{ .Site.Params.contact.about_img }}" class="about-img">
                </div>
                
                {{ with .Site.Params.contact.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
            {{ if .Site.Params.contact.email }}
                <div class="
                {{ if .Site.Params.contact.phone }}
                    col-lg-4
                {{ else }}
                    col-lg-8 col-lg-offset-2
                {{ end }}
                 text-center">
                    <a href="{{ .Site.Params.contact.github }}"><i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                    <a class="mx-8" href="{{ .Site.Params.contact.linkedin }}"><i class="mx-8 fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                    <a href="mailto:{{ .Site.Params.contact.email }}"><i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                </div>
            {{ end }}
        </div>
    </div>
</section>
