{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .range_set }}
<div class="portfolio-modal modal fade" id="{{ .category }}{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                        {{ if and .title .description }}
                            <hr class="star-primary">
                        {{ end }}
                        {{ if .show_image }}
                            <img src="img/{{ .img }}" class="img-responsive img-centered" alt="">
                        {{ end }}
                        <div class="text-left">
                            {{ with .description }}
                                <p>{{ . | markdownify }}</p>
                            {{ end }}
                        </div>
                        {{ if or .client .date .category }}
                            <ul class="list-inline item-details">
                                {{ if .client }}
                                    <li>
                                        <strong><a target="_blank" href="{{ with .clientLink }}{{ . }}{{ else }}#{{ end }}">{{ .client }}</a></strong>
                                    </li>
                                {{ end }}
                            </ul>
                        {{ end }}
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
